.product-tabs {
    margin-top: 120px;
    @media (max-width: $breakpoint1300) {
        margin-top: 80px;
    }
    .title {
        @extend %title;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: $breakpoint1300) {
            font-size: 40px;
            margin-bottom: 40px;
            letter-spacing: 8px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 16px;
            letter-spacing: 3.2px;
            margin-bottom: 9px;
        }
    }
}
.tabs-content {
    display: flex;
    @media (max-width: $breakpoint926) {
        display: none;
    }
    &__left {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #fff;
        button {
            color: $font-color;
            font-family: Rubik;
            font-size: 34px;
            font-weight: 300;
            letter-spacing: 6.8px;
            text-transform: uppercase;
            padding: 22px 40px;
            border-radius: 0 10px 0 0;
            background-color: #fff;
            text-align: left;
            @media (max-width: $breakpoint1300) {
                font-size: 20px;
                letter-spacing: 4px;
                padding: 13px 24px;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding: 39px 40px;
        background-color: $accent-color2;
        border-radius: 0 10px 10px 10px;
        @media (max-width: $breakpoint1300) {
            padding: 22px 24px;
            row-gap: 20px;
        }
        li {
            color: $font-color;
            font-size: 18px;
            font-weight: 300;
            line-height: 126.4%;
            letter-spacing: 3.42px;
            @media (max-width: $breakpoint1300) {
                font-size: 12px;
            }
            strong {
                display: block;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 126.4%;
                letter-spacing: 3.42px;
                @media (max-width: $breakpoint1300) {
                    font-size: 12px;
                    letter-spacing: 2.28px;
                }
            }
        }
    }
    .tabs-content__item.disabled {
        display: none;
    }
    button.active {
        background-color: $accent-color2;
        border-radius: 10px 0 0 10px;
    }
}

.mobile-acordeon {
    display: none;
    flex-direction: column;
    row-gap: 5px;
    @media (max-width: $breakpoint926) {
        display: flex;
    }
    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $accent-color2;
        padding: 5px 10px;
        font-size: 10px;
        font-family: Rubik;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $font-color;
        border-radius: 3px; 
        font-weight: 300;
        @media (max-width: $breakpoint926) {
            font-size: 12px;
        }
    }
    button.active {
        border-radius: 3px 3px 0 0;
    }
    line {
        @extend %transition;
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 0 10px;
        background-color: $accent-color2;
        border-radius: 0 0 3px 3px;
        overflow-y: hidden;
        height: 0;
        @extend %transition;
        &::before {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            content: '';
            width: calc(100% - 20px);
            height: 1px;
            background-color: #D9D9D9;
        }
        li {
            font-size: 16px;
            font-weight: $font-weight;
            letter-spacing: 1.52px;
        }
        strong {
            display: block;
            font-size: 16px;
            margin-bottom: 5px;
            letter-spacing: 1.52px;
            color: $font-color;
        }
    }
}