.our-work {
    margin-bottom: 120px;
    @media (max-width: $breakpoint1300) {
        margin-bottom: 80px;
    }
    @media (max-width: $breakpoint1300) {
        margin-bottom: 40px;
    }
    .title {
        @extend %title;
        text-align: center;
        margin-bottom: 44px;
        @media (max-width: $breakpoint1300) {
            font-size: 40px;
            letter-spacing: 8px;
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 16px;
            letter-spacing: 3.2px;
            margin-bottom: 10px;
        }
    }
    &__content {
        position: relative;
        display: flex;
        column-gap: 70px;
        @media (max-width: $breakpoint1300) {
            display: block;
        }
    }
    &__slider {
        max-width: 600px;
        @media (max-width: $breakpoint1300) {
            display: none;
            max-width: unset;
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    &__slider-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        flex: 1;
    }
    &__slider-tablet {
        display: none;
        column-gap: 42px;
        @media (max-width: $breakpoint1300) {
            display: flex;
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
    }
    &__slider-big {
        width: 100%;
        max-width: 600px;
        max-height: 600px;
        flex: 1;
        @media (max-width: $breakpoint1300) {
            max-height: 360px;
        }
        @media (max-width: $breakpoint1024) {
            max-width: 360px;
        }
    }
    &__slider-small {
        max-height: 258px;
    }
    &__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: $breakpoint1300) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
    }
    a {
        width: 100%;
        max-width: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        border: 1px solid #000;
        color: $font-color;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        padding: 18px;
        margin-top: 47px;
        margin-left: auto;
        margin-right: auto;
        @extend %transition;
        @media (max-width: $breakpoint1300) {
            margin-top: 40px;
        }
        @media (max-width: $breakpoint926) {
            max-width: 131px;
            margin-left: auto;
            margin-right: auto;
            color: $font-color;
            font-family: Rubik;
            font-size: 10.312px;
            font-weight: 400;
            letter-spacing: 1.662px;
            text-transform: uppercase;
            border-radius: 3px;
            padding: 6px;
            margin-top: 10px;
        }
        &:hover {
            background-color: #111;
            @extend %transition;
            color: #fff;
        }
        &:active {
            background-color: $accent-color;
            @extend %transition;
            border: 1px solid $accent-color;
        }        
    }
}
.slider-items-mobile {
    display: block !important;
}
.our-work-scrollbar-mobile {
    display: none;
    margin-top: 40px;
    @media (max-width: $breakpoint1300) {
        display: block;
    }
    @media (max-width: $breakpoint926) {
        display: none;
    }
}
.form {
    position: relative;
    padding: 37px 96px;
    background-color: $accent-color2;
    border-radius: 10px 0 0 10px;
    &::after {
        position: absolute;
        content: '';
        left: 100%;
        width: 57%;
        top: 0;
        bottom: 0;
        background-color: $accent-color2;
        @media (max-width: 1920px) {
            width: 21%;
        }
        @media (max-width: 1690px) {
            width: 33%;
        }
        @media (max-width: 1440px) {
            width: 49%;
        }
        @media (max-width: $breakpoint1300) {
            display: none;
        }
    }
    @media (max-width: $breakpoint1300) {
        display: none;
    }
    &__item {
        max-width: 480px;
    }
    h5 {
        color: $font-color;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 50px;
        @media (max-width: $breakpoint1300) {
            font-size: 20px;
            text-align: center;
            letter-spacing: 1px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 11.5px !important;
            letter-spacing: 0.475px;
            margin-bottom: 20px;
        }
    }
    button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: $font-color;
        color: #FFF;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        border-radius: 7px;
        margin-top: 40px;
        @extend %transition;
        &:hover {
            background-color: #111;
            @extend %transition;
        }
        &:active {
            background-color: $accent-color;
            @extend %transition;
        }
        @media (max-width: $breakpoint926) {
            padding: 8px;
            font-size: 14.5px;
            letter-spacing: 2.5px;
            border-radius: 3px;
            margin-top: 19px;
        }
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    @media (max-width: $breakpoint926) {
        row-gap: 19px;
    }
    input {
        padding: 8px 0 8px 30px;
        background-color: #fff;
        border-radius: 4px;
        color: $font-color;
        font-family: Rubik;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 4px;
        @media (max-width: $breakpoint1300) {
            font-size: 20px;
            letter-spacing: 4px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 12.417px;
            letter-spacing: 2.083px;
            border-radius: 2px;
        }
        &::placeholder {
            opacity: .7;
            @media (max-width: $breakpoint1300) {
                font-size: 20px;
                letter-spacing: 4px;
            }
            @media (max-width: $breakpoint926) {
                font-size: 10.417px;
                letter-spacing: 2.083px;
            }
        }
        @media (max-width: $breakpoint926) {
            padding: 3px 0 5px 12px;
        }
    }
}
.slider-items {
    position: static !important;
    @media (max-width: $breakpoint1300) {
        display: none;
    }
    p {
        margin-top: 20px;
        @media (max-width: $breakpoint1300) {
            margin-top: 10px;
        }
        br {
            display: none;
            @media (max-width: $breakpoint1300) {
                display: unset;
            }
        }
    }
}
.btns {
    display: flex;
    column-gap: 50px;
    @media (max-width: $breakpoint1300) {
        column-gap: 34px;
    }
    button {
        font-size: 0;
        @media (max-width: $breakpoint1300) {
            width: 15px;
        }
    }
}
.our-work-scrollbar {
    width: 100% !important;
    height: 1px;
    margin-top: 40px;
    margin-left: unset;
    margin-right: unset;
    @media (max-width: $breakpoint1300) {
        display: none;
    }
    @media (max-width: $breakpoint926) {
        display: none;
    }
}
.mobile-form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-top: 80px;
    padding: 21px 46px;
    @media (max-width: $breakpoint1300) {
        display: block;
    }
    @media (max-width: $breakpoint926) {
        margin-top: 30px;
        padding: 15px 30px;
        border-radius: 4px;
    }
}
.our-mobile-wrapper {
    display: none;
    align-items: center;
    column-gap: 37px;
    @media (max-width: $breakpoint926) {
        display: flex;
    }
    button {
        flex-shrink: 0;
        font-size: 0;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }
}
.mobile-desc {
    display: none;
    color: $font-color;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 126.4%;
    letter-spacing: 1.95px;
    margin-top: 20px;
    @media (max-width: $breakpoint926) {
        display: block;
    }
}