main {
    margin-bottom: 120px;
    @media (max-width: $breakpoint1300) {
        margin-bottom: 80px;
    }
    @media (max-width: $breakpoint926) {
        margin-bottom: 40px;
    }
}
.work-stages {
    .title {
        @extend %title;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: $breakpoint1300) {
            font-size: 40px;
            letter-spacing: 8px;
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 16px;
            letter-spacing: 3.2px;
            margin-bottom: 10px;
        }
    }
}
.stages-content {
    display: flex;
    align-items: flex-start;
    column-gap: 70px;
    @media (max-width: $breakpoint1300) {
        column-gap: 42px;
    }
    @media (max-width: $breakpoint926) {
        display: block;
    }
    .form {
        display: block !important;
        flex: 1;
        &::after {
            @media (max-width: $breakpoint1300) {
                display: block !important;
            }
            @media (max-width: $breakpoint926) {
                display: none !important;
            }
        }
        @media (max-width: $breakpoint1300) {
            padding: 35px 50px 40px 42px;
        }
        @media (max-width: $breakpoint926) {
            margin-top: 30px;
            border-radius: 3px;
            padding: 15px 30px;
        }
        h5 {
            @media (max-width: $breakpoint1300) {
                font-size: 18px;
            } 
        }
        &__item {
            @media (max-width: $breakpoint926) {
                max-width: unset;
            } 
        }
    }
}
.stages {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    @media (max-width: $breakpoint926) {
        border-radius: 3px;
    }
    img {
        width: 100%;
        display: block;
        max-height: 92px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-bottom: 40px;
        border-radius: 10px 10px 0 0;
        @media (max-width: $breakpoint926) {
            margin-bottom: 20px;
            border-radius: 3px 3px 0 0;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 29px;
        padding: 0 20px 40px 20px;
        @media (max-width: $breakpoint1300) {
            row-gap: 17px;
            padding: 0 12px 23px 12px;
        }
        @media (max-width: $breakpoint926) {
            row-gap: 14.5px;
            padding: 0 10px 20px 10px;
        }
        li {
            padding-bottom: 29px;
            border-bottom: 1px solid #D9D9D9;
            color: $font-color;
            font-size: 18px;
            font-weight: 300;
            line-height: 126.4%;
            letter-spacing: 2.61px;
            @media (max-width: $breakpoint1300) {
                padding-bottom: 17px;
                font-size: 12.8px;
                letter-spacing: 1.566px;
            }
            @media (max-width: $breakpoint926) {
                padding-bottom: 15px;
                text-align: center;
            }
            &:last-child {
                padding-bottom: 0;
                border: none;
            }
        }
    }
}