.cafe-chairs {
    .container {
        @media (max-width: $breakpoint926) {
            width: calc(100% - 110px);
            padding: 0;
        }
    }
    .title {
        color: #31302E;
        font-family: Rubik;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: $breakpoint1300) {
            font-size: 40px;
            letter-spacing: 8px;
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 16px;
            letter-spacing: 3.2px;
            margin-bottom: 15px;
        }
    }
}
.options {
    &__btn-desktop {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $accent-color2;
        padding: 20px 40px;
        color: #31302E;
        font-family: Rubik;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 7.2px;
        border-radius: 10px;
        text-transform: uppercase;
        @extend %transition;
        svg {
            @extend %transition;
        }
        @media (max-width: $breakpoint1300) {
            svg {
                width: 18px;
            }
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
        img {
            @extend %transition;
        }
        &::before {
            position: absolute;
            content: '';
            width: 102px;
            height: 1px;
            background-color: $font-color;
            top: 100%;
            left: 0;
            opacity: 0;
            @extend %transition;
        }
    }
    &__btn-mobile {
        width: 100%;
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        background-color: $accent-color2;
        border-radius: 3px;
        text-transform: uppercase;
        font-family: Rubik;
        font-weight: 300;
        letter-spacing: 1.68px;
        svg {
            width: 9px;
        }
        @media (max-width: $breakpoint926) {
            display: flex;
        }
    }
    button.active {
        border-radius: 10px 10px 0 0;
    }
    button.active::before {
        opacity: unset;
        @extend %transition;
    }
}
.categories-bottom {
    flex-wrap: wrap;
    opacity: unset;
    position: static;
    visibility: unset;
    border: 1px solid transparent;
    border-radius: 0 0 5px 5px;
    overflow-y: hidden;
    padding-left: 30px;
    padding-right: 30px;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    @extend %transition;
    @media (max-width: $breakpoint1200) {
        .by-color span:nth-child(2) {
            display: none;
        }
        .by-color__items {
            column-gap: 30px;
        }
    }
}
.categories-bottom.active {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #D9D9D9;
}
.sort {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-top: 30px;
    margin-left: 40px;
    @media (max-width: $breakpoint1300) {
        column-gap: 20px;
    }
    @media (max-width: $breakpoint926) {
        margin-top: 15px;
        margin-left: 0;
    }
    strong {
        color: #31302E;
        font-family: Rubik;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 1.2px;
        @media (max-width: $breakpoint1300) {
            color: #31302E;
            font-family: Rubik;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.75px;
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
    }
    ul {
        display: flex;
        column-gap: 15px;
        @media (max-width: $breakpoint1300) {
            column-gap: 10px;
        }
        @media (max-width: $breakpoint926) {
            display: none;
        }
        a {
            color: #31302E;
            font-size: 20px;
            font-weight: 300;
            line-height: 126.4%;
            letter-spacing: 3.9px;
            @media (max-width: $breakpoint1300) {
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 2.34px;
            }
        }
        span {
            display: block;
            width: .5px;
            height: 100%;
            background-color: $font-color;
            opacity: .6;
            @media (max-width: $breakpoint1300) {
                height: 70%;
                transform: translateY(35%);
            }
        }
    }
}
.sort-btn {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    background-color: $accent-color2;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Rubik;
    font-weight: 300;
    letter-spacing: 1.68px;
    svg {
        width: 9px;
    }
    @media (max-width: $breakpoint926) {
        display: flex;
    }
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-top: 40px;
    gap: 50px 89px;
    min-width: 0;
    margin-bottom: 70px;
    @media (max-width: 1690px) {
        gap: 38px;
        grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
    }
    @media (max-width: $breakpoint1300) {
        margin-bottom: 80px;
        margin-top: 30px;
    }
    @media (max-width: $breakpoint926) {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    .product-card {
        @media (max-width: $breakpoint926) {
            padding: 10px 8px;
        }
        .custom-color {
            margin-bottom: 54px;
        }
    }
}
.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    max-height: 59px;
    a {
        @media (max-width: $breakpoint926) {
            width: 8px;
        }
    }
    .page-numbers {
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint926) {
            align-items: baseline;
        }
    }
    strong {
        color: $font-color;
        font-family: Rubik;
        font-size: 50px;
        font-weight: $font-weight2;
        letter-spacing: 10px;
        text-transform: uppercase;
        @media (max-width: $breakpoint926) {
            font-size: 22.129px;
            letter-spacing: 4.426px;
        }
    }
    span {
        position: static;
        color: $font-color;
        font-family: Rubik;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 10px;
        text-transform: uppercase;
        background-color: unset;
        height: auto;
        &:last-child {
            font-size: 36px;
            letter-spacing: 7.2px;
        }
        @media (max-width: $breakpoint1300) {
            &:last-child {
                font-size: 36px;
                letter-spacing: 7.2px;
            }
        }
        @media (max-width: $breakpoint926) {
            font-size: 22.129px;
            letter-spacing: 4.426px;
            &:last-child {
                font-size: 15.933px;
                letter-spacing: 3.187px;
            }
        }
    }
}
.products-line {
    width: 100%;
    max-width: 1570px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    margin-top: 70px;
    span {
        width: 100%;
        background-color: #D9D9D9;
        display: block;
        height: inherit;
    }
    @media (max-width: $breakpoint926) {
        margin-top: 40px;
        padding: 0;
    }
}
.products-popup {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    min-height: 100vh;
    opacity: 0;
    visibility: hidden;
    @extend %transition;
    padding-top: 29px;
    padding-bottom: 58px;
    overflow-y: auto;
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .15;
        background-color: #000;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 4;
        width: 100%;
        height: 100%;
        padding: 14px 10px 10px 10px;
        background-color: #fff;
        border-radius: 25px;
        overflow-y: auto;
    }
    &__top {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        button {
            font-size: 0;
        }
        p {
            color: $font-color;
            text-align: center;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3.2px;
            text-transform: uppercase;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 206px;
        button {
            width: 100%;
            display: block;
            padding-bottom: 12px;
            border-bottom: 1px solid #D9D9D9;
            color: $font-color;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 2.8px;
        }
    }
    &__bottom {
        a {
            display: block;
            color: $font-color;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.081px;
            text-transform: uppercase;
            padding: 8px;
            text-align: center;
            border-radius: 3px;
            background-color: $font-color;
            color: #fff !important;
        }
        .reset {
            margin-bottom: 10px;
            border: 0.434px solid $font-color;
            background-color: transparent;
            color: $font-color !important;
        }
        button {
            width: 100%;
            display: block;
            color: $font-color;
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.081px;
            text-transform: uppercase;
            padding: 8px;
            text-align: center;
            border-radius: 3px;
            background-color: $font-color;
            color: #fff !important;
        }
    }
}
.options-popup {
    button {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
    }
    &__bottom {
        a {
            display: block !important;
        }
    }
}
.sort-popup {
    a {
        display: block;
        padding-bottom: 12px;
        border-bottom: 1px solid #D9D9D9;
        color: $font-color;
        font-family: Rubik;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2.8px; 
    }
}
.sort-popup.active {
    opacity: unset;
    visibility: unset;
}
.options-popup.active {
    opacity: unset;
    visibility: unset;
}
.type-popup {
    a {
        display: block;
        width: 100%;
        color: $font-color;
        font-family: Rubik;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 2.8px;
        padding-bottom: 12px;
        border-bottom: .5px solid #D9D9D9;
    }
}
.type-popup.active {
    opacity: unset;
    visibility: unset;
}