.choiсe {
    margin-bottom: 120px;
    padding: 50px 0;
    background-color: $accent-color2;
    @media (max-width: $breakpoint1300) {
        margin-bottom: 80px;
        padding: 40px 0;
    }
    @media (max-width: $breakpoint926) {
        margin-bottom: 40px;
        padding: 10px 0;
    }
    .title {
        @extend %title;
        text-align: center;
        margin-bottom: 50px;
        @media (max-width: $breakpoint1300) {
            font-size: 40px;
            letter-spacing: 8px;
            margin-bottom: 40px;
        }
        @media (max-width: $breakpoint926) {
            font-size: 16px;
            letter-spacing: 3.2px;
            margin-bottom: 10px;
        }
    }
}
.slider-items {
    right: 7px;
    @media (max-width: 1690px) {
        right: 0;
    }
}
.slider-items-desc {
    margin-top: 38px;
    @media (max-width: $breakpoint1300) {
        margin-top: 20px;
    }
    a {
        display: block;
        color: #31302E;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 3.6px;
        @media (max-width: $breakpoint1300) {
            font-size: 11.8px;
            letter-spacing: 2.36px;
        }
    }
    span {
        display: block;
        color: #31302E;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 3.6px;
        @media (max-width: $breakpoint1300) {
            font-size: 11.8px;
            letter-spacing: 2.36px;
        }
    }
    p {
        display: flex;
        column-gap: 13px;
        margin-top: 38px;
        color: #31302E;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 3.6px;
        @media (max-width: $breakpoint1300) {
            margin-top: 0;
            font-size: 11.8px;
            letter-spacing: 2.36px;
        }
        a {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background-color: $font-color;
            }
        }
    }
}
.mobile-items {
   .slider-items-desc {
    a {
        max-width: unset;
        display: block !important;
        border: none;
        font-family: "Circe W08 Extra Light";
        padding: 0;
        color: $font-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 1.95px;
        margin: 0;
        text-transform: lowercase;
    }
    span {
        display: block;
        color: $font-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 1.95px;
    }
    p {
        color: $font-color;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 126.4%;
        letter-spacing: 1.95px;
        column-gap: 8px;
    }
   } 
}